<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/74910ed8-22d4-4e40-9f22-ac5d5b3ffb34/resourceGroups/learn-889b142d-60b5-4015-ba4b-fe0dd5d1e3c6/providers/Microsoft.Web/sites/clienttoserver</ResourceId>
    <ResourceGroup>learn-889b142d-60b5-4015-ba4b-fe0dd5d1e3c6</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://clienttoserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5cbc3b70-1841-4a32-8019-c544494cf25e</ProjectGuid>
    <PublishUrl>https://clienttoserver.scm.azurewebsites.net/</PublishUrl>
    <UserName>$clienttoserver</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>